In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2020-09-03 06:18:34,-24.79,-50.01,56.12,97,30,4.70
1,1,Hithadhoo,MV,2020-09-03 06:18:34,-0.60,73.08,82.42,72,100,11.68
2,2,Ilulissat,GL,2020-09-03 06:18:35,69.22,-51.10,37.40,74,100,3.36
3,3,Bambous Virieux,MU,2020-09-03 06:18:35,-20.34,57.76,75.20,78,75,1.12
4,4,Hilo,US,2020-09-03 06:18:01,19.73,-155.09,78.80,65,1,3.36
...,...,...,...,...,...,...,...,...,...,...
571,571,Chara,RU,2020-09-03 06:20:40,56.91,118.26,67.84,46,1,5.79
572,572,Ambovombe,MG,2020-09-03 06:20:40,-25.17,46.08,64.56,63,78,13.53
573,573,Qasigiannguit,GL,2020-09-03 06:20:41,68.82,-51.19,37.40,74,87,3.36
574,574,Raudeberg,NO,2020-09-03 06:20:41,61.99,5.14,60.01,59,97,28.01
575,575,Stephenville,US,2020-09-03 06:20:41,32.22,-98.20,73.40,88,1,8.32

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. Remove the negative temperature using list comprehension.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heapmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2020-09-03 06:18:34,-24.79,-50.01,56.12,97,30,4.70
1,1,Hithadhoo,MV,2020-09-03 06:18:34,-0.60,73.08,82.42,72,100,11.68
2,2,Ilulissat,GL,2020-09-03 06:18:35,69.22,-51.10,37.40,74,100,3.36
3,3,Bambous Virieux,MU,2020-09-03 06:18:35,-20.34,57.76,75.20,78,75,1.12
4,4,Hilo,US,2020-09-03 06:18:01,19.73,-155.09,78.80,65,1,3.36
...,...,...,...,...,...,...,...,...,...,...
571,571,Chara,RU,2020-09-03 06:20:40,56.91,118.26,67.84,46,1,5.79
572,572,Ambovombe,MG,2020-09-03 06:20:40,-25.17,46.08,64.56,63,78,13.53
573,573,Qasigiannguit,GL,2020-09-03 06:20:41,68.82,-51.19,37.40,74,87,3.36
574,574,Raudeberg,NO,2020-09-03 06:20:41,61.99,5.14,60.01,59,97,28.01
575,575,Stephenville,US,2020-09-03 06:20:41,32.22,-98.20,73.40,88,1,8.32

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2020-09-03 06:18:34,-0.60,73.08,82.42,72,100,11.68
3,3,Bambous Virieux,MU,2020-09-03 06:18:35,-20.34,57.76,75.20,78,75,1.12
4,4,Hilo,US,2020-09-03 06:18:01,19.73,-155.09,78.80,65,1,3.36
7,7,Ceres,US,2020-09-03 06:17:01,37.59,-120.96,73.40,53,1,10.29
12,12,Shimoda,JP,2020-09-03 06:18:37,34.67,138.95,80.60,88,75,12.75
16,16,Sorong,ID,2020-09-03 06:18:37,-0.88,131.25,82.29,78,77,10.67
19,19,Ina,JP,2020-09-03 06:18:38,35.83,137.95,87.80,55,75,17.22
20,20,Carutapera,BR,2020-09-03 06:18:38,-1.20,-46.02,76.64,88,74,7.27
21,21,Vostok,RU,2020-09-03 06:18:38,46.49,135.88,74.82,66,88,11.52
23,23,Sambava,MG,2020-09-03 06:18:39,-14.27,50.17,74.77,61,64,12.08

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1         Hithadhoo      MV     82.42  -0.60   73.08
3   Bambous Virieux      MU     75.20 -20.34   57.76
4              Hilo      US     78.80  19.73 -155.09
7             Ceres      US     73.40  37.59 -120.96
12          Shimoda      JP     80.60  34.67  138.95
16           Sorong      ID     82.29  -0.88  131.25
19              Ina      JP     87.80  35.83  137.95
20       Carutapera      BR     76.64  -1.20  -46.02
21           Vostok      RU     74.82  46.49  135.88
23          Sambava      MG     74.77 -14.27   50.17

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not Found... skipping.")

Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.
Hotel not Found... skipping.

In [41]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.42,-0.60,73.08,Scoop Guest House
3,Bambous Virieux,MU,75.20,-20.34,57.76,Casa Tia Villa
4,Hilo,US,78.80,19.73,-155.09,Hilo Hawaiian Hotel
7,Ceres,US,73.40,37.59,-120.96,Howard Johnson by Wyndham Modesto Ceres
12,Shimoda,JP,80.60,34.67,138.95,Shimoda Tokyu Hotel
16,Sorong,ID,82.29,-0.88,131.25,The Waigo Hotel
19,Ina,JP,87.80,35.83,137.95,Fine Days Hotel
20,Carutapera,BR,76.64,-1.20,-46.02,Lidera
21,Vostok,RU,74.82,46.49,135.88,
23,Sambava,MG,74.77,-14.27,50.17,Melrose
26,Arraial Do Cabo,BR,70.11,-22.97,-42.03,Pousada Porto Praia
27,Rikitea,PF,70.66,-23.12,-134.97,Pension Maro'i
28,Huilong,CN,89.01,31.81,121.66,Hilton Garden Inn Qidong
30,Ewa Beach,US,80.60,21.32,-158.01,Hampton Inn & Suites Oahu/Kapolei
31,Albany,US,71.01,42.60,-73.97,
34,Dingle,PH,88.63,11.00,122.67,Camp Pasica
37,Batemans Bay,AU,79.00,-35.72,150.18,Coachhouse Marina Resort - Batemans Bay
39,Carnarvon,AU,71.60,-24.87,113.63,Hospitality Carnarvon
42,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
43,Lorengau,PG,85.05,-2.02,147.27,Lorengau Harbourside Hotel

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))